body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.encabezado img {
  float: left;
}

.encabezado {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.contenedor-login {
    background: white;
    max-width: 350px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.formulario label {
    display: block;
    margin-top: 10px;
}

.formulario input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover {
    background: #555;
}

.zona-usuario {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.galeria img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.secciones {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.secciones a {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.secciones a:hover {
    background-color: #555;
}
